:root {
  box-sizing: border-box;
 }

body,
nav {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background: #fff;
  cursor: pointer;

  &__logo {
    height: 40px;
    width: 40px;

    &-image {
      height: 100%;
      width: 100%;
    }
  }

  &__nav {
    display: block;
  }
}

.nav {
  &__list {
    display: flex;
    padding: 0;
    margin: auto;
    list-style: none;
  }

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    line-height: 60px;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    flex-direction: row-reverse;
    color: #060b35;

    &--apple {
      position: relative;
      color: var(--main-color);

      &.is-active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        border-radius: 8px;
        width: 100%;
        background-color: var(--main-color);
      }
    }

    &:hover {
      color: var(--main-color);
    }
  }
}
